<body class="min-h-screen bg-gray-800 antialiased">
    <div class="relative min-h-screen flex flex-col">
      <header class="bg-white text-center py-6 mb-6 shadow-md z-10 relative opacity-80">
        <h1 class="text-4xl font-bold text-gray-700 mb-4 opac">{{ bookTitle }}</h1>
      </header>
  
      <div class="flex-grow flex items-center justify-center px-4 sm:px-8 z-10 relative">
        <div class="p-6 max-w-4xl mx-auto bg-white rounded-lg shadow-xl flex items-center space-x-4 ">
          <div class="flex-1">
            <div class="relative">
              <!-- <img [src]="'assets/images/page-' + currentPage + '.jpg'" alt="" class="w-full h-full object-cover object-top rounded-lg shadow-xl"> -->
              <div class="absolute top-0 right-0 w-1/2 h-full bg-gradient-to-l from-transparent via-white to-transparent"></div>
            </div>
          </div>
          <div class="p-4 flex-grow">
            <h2 class="mb-4 text-2xl font-semibold text-gray-700">{{ currentPageData?.title }}</h2>
            <p class="text-lg leading-relaxed text-gray-700" style="white-space: pre-wrap">{{ currentPageData?.text }}</p>
          </div>
        </div>
      </div>
      <footer class="bg-gray-900 opacity-75 z-10 relative">
        <div class="max-w-4xl mx-auto px-4 py-4 flex items-center justify-between">
          <button [disabled]="currentPage === 1" (click)="goToPreviousPage()" class="py-2 px-4 bg-gray-800 hover:bg-gray-700 text-white rounded mx-2">
            Previous
          </button>
          <span class="text-lg text-white">{{ currentPage }} / {{ totalPages }}</span>
          <button [disabled]="currentPage === totalPages" (click)="goToNextPage()" class="py-2 px-4 bg-gray-800 hover:bg-gray-700 text-white rounded mx-2">
            Next
          </button>
        </div>
      </footer>
    </div>
  </body>
  