<body class="min-h-screen bg-gray-800 antialiased">
    <div class="relative min-h-screen flex flex-col">
    
      <div class="flex-grow flex items-center justify-center px-4 sm:px-8 z-10 relative">
        <div class="p-6 max-w-4xl mx-auto  shadow-xl flex items-center space-x-4 ">
          <div class="flex-1">
              <div class="absolute top-0 left-0 w-full h-full bg-fixed bg-cover bg-center opacity-80">
                  <img src="assets/images/kusiner.jpeg" alt="">
                </div>
   
          </div>
         
        </div>
      </div>
    
    </div>
  </body>
  